<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788105279054-v7kcg0o7gqdp7g8hauus3d6nk3in7f0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788105279054-v7kcg0o7gqdp7g8hauus3d6nk3in7f0p</string>
	<key>API_KEY</key>
	<string>AIzaSyB_RYH9M3AoDo6Jm6tiDg6fh9VUFVUlb9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>788105279054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pkw.Danggeun-Clone</string>
	<key>PROJECT_ID</key>
	<string>parkkiwoo-7ed0e</string>
	<key>STORAGE_BUCKET</key>
	<string>parkkiwoo-7ed0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788105279054:ios:dd5cf683e356c09171f51f</string>
</dict>
</plist>